<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title energized">Login</h1>
    <div class="buttons">
      <button class="button button-clear energized" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content class="energized-bg">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input energized-bg">
          <span class="input-label energized">Username</span>
          <input type="text" ng-model="loginData.username" ng-style="inputStyle">
        </label>
        <label class="item item-input energized-bg">
          <span class="input-label energized">Password</span>
          <input type="password" ng-model="loginData.password" ng-style="inputStyle">
        </label>
        <label class="item energized-bg">
          <button class="button button-block button-energized" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
